/* NAVIGATION */

nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 1% 0%;
}

.navigation:hover{
    border-bottom: #fff 2px solid;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-top: 3%;
}
.logo{
    width: 50%;
    font-weight: 900;
    font-size: 158%;
    margin-top: 19px;
    margin-bottom: 0px;
    margin-left: 20px;
    align-items: center;
}

.logo a{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5%;
    justify-content: flex-start;
}
.navigation{
    display: flex;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 10px;
   
}
.button2{
    color: black;
    background-color: #fff;
}
.button2:hover{
    color: black;
    background-color: rgb(218, 218, 218);
}









.connection{
    height: 27px;
}
.link{
    display: flex;
    justify-content: center;
}
@media all and (max-device-width:992px){ 
 

    nav ul {
        justify-content: space-around;
    display: flex;  
    
}

.logo{
    text-align: center;
    justify-content: center !important;
    width: 100% !important;
    margin-left: 0% !important;
    font-weight: 900;
    font-size: 158%;
    margin-top: 0px;
    margin-bottom: 3% !important;
    margin-left: 20px;
    align-items: center;
}
nav{
flex-wrap: wrap !important;
}

.connection {
    height: 40px;
}

nav li{
    font-size: 130%;
}


  }
/* END NAVIGATION */


/* ACCUEIL EN 3 PARTIE */

.threeparts {

    display: flex;
    justify-content: center;

}


#firsleft{
width: 25%;

}
.textmaj{
    margin-top: 20%;
  
    font-size: 1em;
    font-weight: 100;
    line-height: 3vh;
    text-align: left;
}
.textgros{
    color: #fff;
    margin: 0%;
    padding: 0%;
    font-size: 46px;
    font-weight: 500;
    padding-bottom: 10px;
  }
  
.textpetit{
    margin: 0%;
    padding: 0%;
  }

#logoanimate{
    display: flex;
    width:29%;
    align-items: center;
    justify-content: center;
}
#sectionTest{
    height: 300px;
    width: 29%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 0%;
    cursor: pointer;
  
}

#testintt{
    pointer-events: none;
    background-color: transparent;
    border: solid 2px white;
    border-radius: 100%;
    padding: 5%;
    width: 200px;
    height: 200px;

}
.scrolltxt2{
    display: flex;
    flex-wrap: nowrap ;
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 65%;
}
.txt{
    flex-wrap: nowrap;
    white-space: nowrap;
    font-size: 116px;
    animation: scrollTxt 25s linear infinite ;
}
@keyframes scrollTxt {
  0%{
transform: translate(0,0);
  }  
  100%{
    transform: translate(-100%, 0);
  }
}


@media all and (max-device-width:992px){

    .threeparts {
        display: flex;
        flex-wrap: wrap;
    }

#firsleft{
    text-align: center;
    justify-content: center;
    margin-left: 0%;
    padding-left: 2%;
    padding-right: 2%;
    width: 80%;
    margin-bottom: 3%;


}



#sectionTest{
    height: 300px;
    width: 60%;
    align-items: center;
    justify-content: center;
    padding-right: 30%;
}

.textmaj{
    color: #fff;
    font-size: 0.7rem !important;
    margin-top: 7% !important;
    padding-right: 0%;
    font-size: 1em;
    font-weight: 100;
    padding-bottom: 10px;
    text-align: center;
  }

.textgros{
    text-align: center;
}


  #logoanimate{
    display: none !important;
  }

}

@media all and (max-device-width: 500px){
    

 .firstleft{
    width: 68% !important;
 }

    }


    a{
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    
        margin-bottom: 5%;
    }
/* END ACCUEIL EN 3 PARTIE */



/* FOOTER */

footer{
    display: flex;
    margin-top: 3%;
    padding: 0% 3%;
  border-top: #fff 1px solid;  


}

.footleft{
    width: 77%;
    padding-left: 3%;
    display: flex;
}
.footerlogo{
    display: flex;
    width: 60%;
    align-items: center;

}

.logosociaux{
    padding-left: 30px;

}
#logo{
    width: 100%;
    font-weight: 900;
    font-size: 6vh;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
    align-items: center;
}

.social{
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social img{
  width: 40px;
}

ul{
    margin-top: 0%;
    color: rgb(240, 240, 240);
}

ul h3{
    margin-top: 0%;
    color: rgb(255, 255, 255);
}

.footleft p{
color: rgb(255, 255, 255);
}

.help{
    display: flex;
    align-items: flex-start;
  
    
}
.help a{
   color: rgb(255, 255, 255);
  justify-content: flex-start;
   }
   .help h3{
    margin-bottom: 10%;
    margin-top: 21%;
   }
   
   
   
   @media all and (max-device-width:992px){

#logo { 
   width: 100%;
   font-weight: 900;
   font-size: 158%;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-left: 20px;
   align-items: center;
   font-size: 4vh;
}



#email{
    border-right-style: none;
    border-left: 3px solid;
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-radius: 2.25em;
    border-color: #b5b5b5;
    padding: 12px 0px 14px 35px;
    font-size: 86%;
    color: black;
    font-weight: bold;
}
}


@media all and (max-device-width:442px){

    .help ul{
        padding-left: 0%;
        text-align: center;
        }
#logo { 
    width: 65%;
    font-weight: 900;
    font-size: 158%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    align-items: center;
    font-size: 3vh;
 }
 .social
 {display: flex;
    flex-wrap: wrap;
    padding-top: 3%;
    padding-left: -0%;
    
}
.social img{
    width: 40px;
}
.logosociaux{
    padding-left: 0px;
}

.help a{
    color: rgb(255, 255, 255);
   justify-content: center;
    }


  
     
    
}
/* END FOOTER */