.heading-5{
    text-align: center;
   
}
.paragraph-2{
    text-align: center;
}

.paragraph-2-center{
    text-align: center;
}

.italic-tools{
    text-decoration: underline;
}
.discord{
    margin: 5% 4%;
}


.button{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0px;
        border-radius: 10px;
        padding: 1rem 3rem;
        font-size: 1rem;
        text-align: center;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        font-family: 'Space Grotesk', sans-serif;
        font-weight: 700;
      
    
}